body {
  font-family: "Montserrat", sans-serif;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: 5rem;
}
.expenseButton {
  width: 20rem;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color:rgb(19, 79, 136);
}
.incomButton {
  width: 20rem;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgb(23, 107, 175);
}
.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(248, 244, 225);
}
.expensesWrapper {
  margin-left: 3rem;
  margin-right: 3rem;
  border: 1px solid;
  height: 30rem;
  background-color: rgb(248, 244, 225);
}
.expensesTitle {
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.singleExpenseWrapper {
  border: 1px solid;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgb(136, 197, 228);
  margin-bottom: 2rem;
}
.singleExpense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}
